<nav class="navbar navbar-dark bg-primary navbar-expand-sm menu-bar">
    
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
        <span class="navbar-toggler-icon"></span>
    </button>
    
    <div class ="collapse navbar-collapse" id="collapsibleNavbar">
        <ul class = "nav navbar-nav" id="nav_links">
            <li><a class="page-link" href="/index">home</a></li>
            <li><a class="page-link" href="/ourstory">our story</a></li>
            <li><a class="page-link" href="/photos">photos</a></li>
            <li><a class="page-link" href="http://www.zola.com/registry/jointhejarnagins" target="_blank">registry</a></li>
            <li><a class="page-link" href="/joinus">join us</a></li>
        </ul>
    </div>
</nav>